.btn {
    text-transform: uppercase;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 0px 40px 0px 40px;
    margin: 50px;
    padding: 15px;
    background-image: linear-gradient(to left, #2193b0, #6dd5ed);
    transition: 0.4s;
}

.btn > .wave-ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.33);
    transform: scale(0);
    animation: wave-ripple 0.85s linear;
}

.btn:hover {
    border-radius: 40px 0px 40px 0px;
}

@keyframes wave-ripple {
    to {
        transform: scale(3);
        opacity: 0;
    }
}

.hr-border {
    border-color: #2aa7df !important;
}

.footer-logo-img {
    width: 75px;
    margin: 0px 25px 0px 0px;
}

.footer-btn {
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: #f7f7f7;
}

.footer-des {
    line-height: 25px !important;
}