.Mavericksbtn {
    text-transform: uppercase;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 0px 40px 0px 40px;
    margin: 50px;
    padding: 15px;
    background-image: linear-gradient(to left, #2193b0, #6dd5ed);
    transition: 0.4s;
}

.Mavericksbtn > .wave-ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.33);
    transform: scale(0);
    animation: wave-ripple 0.85s linear;
}

.Mavericksbtn:hover {
    border-radius: 40px 0px 40px 0px;
}

@keyframes wave-ripple {
    to {
        transform: scale(3);
        opacity: 0;
    }
}

.hr-border {
    border-color: #2aa7df !important;
}

.footer-logo-img {
    width: 100px;
    margin: 0px 25px 0px 0px;
}

.nav-logo-img {
    width: 50px;
    margin: 0px 10px 0px 0px;
}

.footer-btn {
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 150px;
}

.footer-des {
    line-height: 25px !important;
}

.offcanvas.offcanvas-start {
    width: 75%;
}

.navbar-title,
.offcanvas-title {
    margin: 10px;
    cursor: default;
}

.nav-text {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link:hover {
    color: #2aa7df !important;
}

.active:hover {
    color: #000 !important;
}

.nav-btn {
    margin: 15px;
    margin-left: 10px;
    border: none;
}

.navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
}

.btn-close {
    margin: 10px !important;
    --bs-btn-close-bg: none;
    --bs-btn-close-opacity: 1;
}

.offcanvas-header {
    background-color: #2aa7df;
}

.navbar {
    box-shadow: 0px 0px 10px #00000033;
}

@media screen and (max-width: 990px) {
    .nav-logo-text {
        display: none;
    }

    .nav-logo-img {
        width: 60px;
        margin: 0px 0px 0px 0px;
    }

    .nav-text {
        margin-left: 30px !important;
        margin-bottom: 15px !important;
    }

    .nav-text-1 {
        margin-top: 15px !important;
    }
}